{% extends "text-page.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ SITEURL }}/theme/assets/css/galerie.css">
{% endblock %}

{% block text %}
<h1>Galerie</h1>
<div>
  Cliquer sur l'image pour l'agrandire et sur <span class="shadowed"><img src="{{ SITEURL }}/theme/assets/img/play.svg" style="width: 25px;" /></span> pour charger le code dans Basthon.
</div>
<p>
  <div class="tabset">
  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" checked>
  <label for="tab1">Python</label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tab2">
  <label for="tab2">SQL</label>
  <!-- Tab 3 -->
  <input type="radio" name="tabset" id="tab3">
  <label for="tab3">OCaml</label>
  <!-- Tab 4 -->
  <input type="radio" name="tabset" id="tab4">
  <label for="tab4">JavaScript</label>
  <div class="tab-panels">
    {{ SITEURL|galerie }}
  </div>
</div>
{% endblock %}
