<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>language</th>
      <th>verbosity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Python</td>
      <td>0.1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>C</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Java</td>
      <td>0.9</td>
    </tr>
  </tbody>
</table>
</div>